.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btnlogout{
  font: bolder;
  color:white;
   font-size:18px;
  background-color: rgb(59, 59, 36);
   border-radius: 6px;
}
.btnlogout:hover{
  background-color: #f01f1f;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btnlogin:hover{
  background-color: #f01f1f;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btnlogin{
  font: bolder;
  color:white;
   font-size:18px;
  background-color: rgb(59, 59, 36);
   border-radius: 6px;
   margin-top: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

@media screen and (max-width: 400px) {
  .Mainproductbox{
    /* display: flex; */
    /* width: 80%; */
    border:0px solid rgb(18, 6, 6) ;
    margin: auto;
    /* margin-top: 10%;
    gap: 30px; */
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* mid section */
.om img{
width: 80%;

}.om1{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
a{
  text-decoration: none;
  color:teal
}

.btnadmin:hover{
  border:1px solid red;
  text-decoration: underline;
  box-shadow: rgba(134, 16, 16, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.maindiv{
background-image: url(/src/photos/amaZonn.jpg);
   height: 800px;
   
}
.fomrnadmin{
  margin-top: 10px;
  width:400px;
border:1px solid gray;
padding: 30px;
background-color:black;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.allinputform{
  width:80%;
  height:40px;
  font-size:large;
}
.allH2form{
  font-size:30px; 
  color:red;
 font:bold;
 text-decoration: underline;


}
.btnadmin{
  width:30%;
  height:35px;
  /* border: 2px solid red; */
  background-color:blue;
  color:white;
  font-size:25px;
 border-radius: 12px;
}
.form-1{
  display:flex;
  flex-direction:column;
  gap:15px;
  align-items: center;
}

.fomrnadmin>select{
  width:50%;
  height:30px;
  font-size: large;
  text-align: center;
}
.loginform{
  width: 30%;
  height: 350px;
  /* border: 2px solid red; */
  margin: auto;
  background-color: #bdd6a7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.inputform{
  font-size: 25px;
}
.btnform{
  font-size: 25px;
  background-color: rgb(59, 59, 165);
  color: white;
  border-radius: 6px;
  padding: 6px,6px;
}
.btnform:hover{
  background-color: rgb(32, 32, 223);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.logname{
  font-size: 30px;
  text-decoration: underline;

}
.btnlogin:hover{
  background-color: #f01f1f;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btnlogin{
  font: bolder;
  color:white;
   font-size:18px;
  background-color: rgb(59, 59, 36);
   border-radius: 6px;
   margin-top: 70%;
}
.btnlogout{
  font: bolder;
  color:white;
   font-size:18px;
  background-color: rgb(59, 59, 36);
   border-radius: 6px;
}
.btnlogout:hover{
  background-color: #f01f1f;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/*  */
/* Add product detail here */
/*  */

.Mainproductbox{
  display: flex;
  width: 80%;
  border:2px solid rgb(18, 6, 6) ;
  margin: auto;
  margin-top: 10%;
  gap: 30px;
}
.producttnbox{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:2px solid rgb(43, 0, 255) ; */
  margin: auto;
  
}
.imageamazon{
  width: 100%;
}
.prductbtn{
  width: 30%;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 100%;
  color: black;
  font-size: 18px;
  
}
.prductbtn:hover{
  border-color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

.productdetailbox{
  display: flex;
  width: 80%;
  height: 250px;
  /* border:8px solid black ; */
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  gap: 30px;
}
.pbox{
  width: 80%;
 text-align: start;
 font-size: 18px;
 padding-left: 5px;
 border: 10px solid black;
 margin: auto;

 }
.checkoutbtn{
  background-color: yellow;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  }
.checkoutbtn:hover{
  background-color: rgb(48, 51, 232);
  color: white;
}
.deletebtn{
  color: white;
  font-size: 20px;
  background-color: rgb(232, 62, 62);
  margin-top: 10px;
}
.deletebtn:hover{
  color: black;
  background-color: rgb(249, 226, 54);
}
.honeproduct{
  font-size: 18px;
}
.pcardproduct{
  font-size: 25px;
  color: black;
}
.ptotal{
  font-size: 18px;
  color: black;
}
.ansqty{
  margin-left: 15px;
  margin-right: 20px;
}
.paymebtimageamazon{
  /* border: 2px solid red; */
  width: 70%;
  margin-top: 20px;
}
.Mainproductbox{
  display: flex;
  width: 80%;
  border:0px solid rgb(18, 6, 6) ;
  margin: auto;
  margin-top: 10%;
  gap: 30px;
}
.producttnbox{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:2px solid rgb(43, 0, 255) ; */
  margin: auto;
  
}
.imageamazon{
  width: 30%;
}
.prductbtn{
  width: 30%;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 100%;
  color: black;
  font-size: 18px;
  
}
.prductbtn:hover{
  border-color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

.productdetailbox{
  display: flex;
  width: 170%;
  height: 250px;
  /* border:8px solid black ; */
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  gap: 30px;
}
.paymentproductbox{
  width: 80%;
 padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 border: 0px solid rgb(49, 35, 241);
 margin-top: 10%;
 margin-bottom: -0%;
}
.pbox{
  width: 100%;
 text-align: start;
 font-size: 18px;
 padding-left: 5px;
 border: 0px solid black;
 margin: auto;
margin-top: 2%;
 }
.checkoutbtn{
  background-color: yellow;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  }
.checkoutbtn:hover{
  background-color: rgb(48, 51, 232);
  color: white;
}
.deletebtn{
  color: white;
  font-size: 20px;
  background-color: rgb(232, 62, 62);
  margin-top: 10px;
}
.deletebtn:hover{
  color: black;
  background-color: rgb(249, 226, 54);
}
.honeproduct{
  font-size: 18px;
}
.pcardproduct{
  font-size: 25px;
  color: black;
}
.ptotal{
  font-size: 18px;
  color: black;
}
.ansqty{
  margin-left: 15px;
  margin-right: 20px;
}
.paymebtimageamazon{
  /* border: 2px solid red; */
  height:100px;
  width: 70%;
  margin-top: 10px;
}
.productdetailbox{
  height:250px;
 
}


.shado{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hhhh{
  height: 350px;
  /* margin-top: 11%; */
}